:root {  
    --navy: #123456;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
}

/*GRID CONTAINER*/
.grid-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: minmax(175px, auto) 1fr;
    overflow: auto;
    min-height: 100vh;
    width: 100%;
}

/* HEADER */
.heading-container {
    grid-column: span 2;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navy);
    color: var(--white);
    padding: 2em;
    padding-bottom: 0px;
    width: 100%;
}

.flex-column{
    width: 100%;
    padding-left: 10px;
}

.flex-row{
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

.input-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

#nurses {
    width: 3em;
    height: 2em;
    margin-top: 0.4em;
}

.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    margin-left: 1em;
}

.main-header h4 {
    font-size: 2em;
}

.bottom-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: none;
    padding: 0 1em;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: -2.5em;
}

.bottom-head p{
    margin: 0 1.5em ;
    padding: 0;
}

.icons{
    display: flex;
    width: 212px;
    flex-direction: row;
    justify-content: space-around;
}

.clickable {
    margin-bottom: 3em;
}

.clickable img {
    padding: 1em;
    width: 40%;
}

.form-tabs {
    margin-left: -3em;
    margin-bottom: -1.3em;
}
.active-tab {
    background-color: #117de9;
    color: white;
}

button{
    padding: 0.5em;
    border-radius: 15px 15px 0 0;
}

button:hover {
    transform: scale(1.05);
}

select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
    width: 85px;
    height: 25px;
}

/* MENU */
.menu-popup {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: ease-in 0.3s;
}

.menu-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-popup li {
    padding: 10px 0;
    text-align: center;
    border-bottom: 0.5px dotted black;
}

.menu-popup li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.2s;
}

.menu-popup li a:hover {
    color: #007bff;
}

/* SIDEBAR */
.sidebar {
    grid-column: 1;
    grid-row: 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh -2em);
    background-color: var(--navy);
    padding: 1.5em;
    max-width: 150px;
    color: var(--white);
}

.bed-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bed-list li {
    padding: 0.4em;
    margin: 0.5em;
    font-size: 0.9em;
    text-align: center;
}

.bed-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.active {
    background-color:white;
    border-radius: 15px;
    color: black;
}


/* MAIN-CONTENT */
.main-content {
    grid-column: 2;
    grid-row: 2;
}

#points-total {
    margin-top: 0.4em;
}

.form-container {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.shift-stats-new{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}

#workload-form {
    margin-right: 1em;
}

.fieldset-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.5em 5em;
    border: 1px dotted black;
}

#workload-form label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

label {
    margin: 0.5em;
    cursor: pointer;
    display: inline-block;
}

#workload-form input[type="checkbox"] {
    appearance: none;
    border: 2px solid var(--navy);
    width: 20px;
    height: 20px;
    margin-right: 1em;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#workload-form input[type="checkbox"]:checked {
    background-color: var(--navy);
}

#meetings,
#arrest,
#complexdsg,
#burn-care,
#transport,
#unplanned
{
    appearance: none;
    border: 2px solid var(--navy);
    width: 120px;
    height: 30px;
    margin-right: 1em;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.fieldset-button {
    border: none;
}

.submission-wrapper {
    display: flex;
    align-items: center;
    padding: 1em;
 
}

#submit-button {
    padding: 1em 2em;
    margin-left: auto;
    cursor: pointer;
    border: 2px solid var(--navy);
    border-radius: 5px;
    background-color: whitesmoke;
}

#submit-button:hover {
    background-color: var(--navy);
    color: var(--white);
}

#error-handler {
    flex-grow: 1;
    color: red;
    font-weight: bolder;
    margin-left: 0;
    padding: 0.3em;
}

.hidden {
    display: none;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: stretch; 
    height: 100%;
}

#thank-you-message {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#summary {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 20px;
    overflow: auto;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin: 0 auto;
}

#summary ul {
    padding: 1em;
}

#summary li {
    padding: 0.5em;
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .heading-container {
        flex-direction: column; 
        justify-content: flex-end;
        text-align: center; 
        align-items: center;
        padding: 1em; 
    }

    .clickable {
        margin: 1em auto;
    }

    .clickable img {
        padding: 0.5em;
        width: 4em;
        position: absolute;
        left: 2%;
        top: 6%;
    }

    .menu-popup {
        position: absolute;
        top: 1%;
        left: 1%;
    }

    .menu-popup li{
    padding: auto 0;
    }

    .flex-column {
        margin-left: 0; 
    }

    .main-header {
        flex-direction: column;
        align-items: center; 
        text-align: center;
        justify-content: center;
        margin-left: 0;
    }

    .main-header h4{
        font-size: 1.5em;
        margin-bottom: 1em;
        margin-left: 4em;
    }

    .bottom-head {
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        text-align: center;
        margin-left: 4em;
        font-size: 0.8em;
    }

    .form-tabs {
        margin-left: 2em;
        margin-bottom: -1em;
        margin-right: -1em;
    }

    button {
        border-radius: 15px;
        align-items: center;
    }

    .bed-list {
        width: 100%;
    }

    .bed-list li {
        padding: 0.5em;
        margin: 1em;
        font-size: 0.8em;
    }

    .active {
        margin: none;
        border-radius: none;
        padding: none;
    }

    .sidebar {
        width: 100%; 
        padding: 1em 0; 
    }

    .bed-link {
        text-align: center; 
    }

    #workload-form {
        margin: 0;
    }

    .fieldset-item {
        padding: 0.5em 0;
        font-size: 0.9em;
    }

    .label {
        margin: 0.5em 0;
    }
  
    #submit-button {
        margin: 2em auto; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .heading-container {
        flex-direction: column; 
        justify-content: flex-end;
        text-align: center; 
        align-items: center;
        padding: 1em; 
    }

    .clickable {
        margin: 1em auto;
    }

    .clickable img {
        padding: 0.5em;
        width: 4em;
        position: absolute;
        left: 2%;
        top: 6%;
    }

    .menu-popup {
        position: absolute;
        top: 1%;
        left: 1%;
    }

    .menu-popup li{
    padding: auto 0;
    }

    .flex-column {
        margin-left: 0; 
    }

    .main-header {
        flex-direction: column;
        align-items: center; 
        text-align: center;
        justify-content: center;
        margin-left: 0;
    }

    .main-header h4{
        font-size: 1.5em;
        margin-bottom: 1em;
        margin-left: 4em;
    }

    .shift-stats {
        flex-direction: row;
        align-items: center; 
        font-size: 1em;
        margin-top: 3em;
    }

    .shift-stats p {
        padding: 1em 0;
    }

    .bottom-head {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 4em;
        font-size: 1em;
    }

    .form-tabs {
        margin-left: 2em;
        margin-bottom: -1em;
        margin-right: -1em;
    }

    button {
        border-radius: 15px;
        align-items: center;
    }

    .bed-list {
        width: 100%;
    }

    .bed-list li {
        padding: 0.5em;
        margin: 1em;
        font-size: 0.8em;
    }

    .active {
        margin: none;
        padding: none;
    }

    .sidebar {
        width: 8em;
        padding: 1em 0; 
    }

    .bed-link {
        text-align: center; 
    }

    .fieldset-item {
        padding: 0.5em 0;
        font-size: 0.9em;
    }

    .label {
        margin: 0.5em 0;
    }
  
    #submit-button {
        margin: 2em auto; 
    }
}
