
:root {  
    --navy: #123456;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    font-family: 'Inter', sans-serif;
}

/*GRID CONTAINER*/
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(250px, auto) 1fr;
    min-height: 100vh
}

/* HEADER */
.heading-container {
    grid-column: span 2;
    display:flex;
    justify-content: space-between;
    align-items: Baseline;
    background-color: var(--navy);
    color: var(--white);
    padding: 2em;
    position: fixed;
    width: 100%;
}
.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    margin-left: 5em;
}
.main-header h4 {
    font-size: 2em;
}
.bottom-head{
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 0.5em;
}
.bottom-head p{
    margin: 0 4em 0 4em;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1em;
}
.clickable {
    padding: 0.5em;
}
.shift-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 15vw;
}
.shift-stats p{
    margin-bottom: 0.5em;
}

.form-tabs{
    position: absolute;
    bottom: 0;
    left: 20em;
}
button{
    padding: 0.5em;
    border-radius: 15px 15px 0 0;
}

/* SIDEBAR */
.sidebar {
    grid-column: 1;
    grid-row: 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    background-color: var(--navy);
    padding: 3em;
    color: var(--white);
}
.bed-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 75%;
}
.bed-list li {
    padding: 1em;
}

/* MAIN-CONTENT */
.main-content {
    grid-column: 2;
    grid-row: 2;
}

.workload-form{

}

.fieldset-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
    border: 1px dotted black;
}
label {
    margin: 0.5em;
}